<%-include ./user.head.ejs %>

<% var iCdTp="" ; %>

<script type="text/javascript">
  $(function () {
      $("#iCbAll").click(function () {
          if ($("#iCbAll").prop("checked")) {
            $("input[id=iCbOne]").prop("checked", true);
          } else {
            $("input[id=iCbOne]").prop("checked", false);
          }
        });
    });
  
  function search() {
    console.log("search..");
    var form = document.workForm;
    form.iPage.value = 1;
    form.method = "GET";
    form.action = "getAicodes";
    form.submit();
  }
  
  function view(ac_id) {
    var form = document.workForm;
    form.ac_id.value = ac_id;
    form.action = "viewAicode";
    form.submit();
  }
  
  function create() {
    var form = document.workForm;
    form.action = "getAicode";
    form.method = "GET";
    form.submit();
  }
  
  function procDeleteMulti() {
    if (confirm("정말 삭제하시겠습니까?") == true) {
      //확인
      var form = document.workForm;
      var cbOneArr = document.getElementsByName("iCbOne");
      var cbStr = "";
      var chkCnt = 0;
      for (var i = 0; i < cbOneArr.length; i++) {
        if (cbOneArr[i].checked) {
          chkCnt++;
          cbStr += cbOneArr[i].value + "|";
          console.log(cbOneArr[i].value);
          fetch("deleteAicode/" + cbOneArr[i].value, {
              method: "DELETE",
              mode: "same-origin",
              credentials: "same-origin",
            })
          .then((response) => {
              console.log(response.message);
            })
          .catch((error) => {
              console.log(error);
            });
        }
      }
      
      if (chkCnt > 0) {
        location.reload();
        toastr.success("삭제하였습니다.");
      } else {
        toastr.warning("삭제할 항목을 선택해주세요.");
      }
    }
  }
  
  function submitSearch() {
    document.fsearch.submit();
  }
  
  //-->
</script>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
    
    <small></small>
    </h1>
    <ol class="breadcrumb">
    <li>
    <a href="#"><i class="fa fa-dashboard"></i> Home > </a>
    </li>
    <li class="active"></li>
    </ol>
  </section>
  
  <section class="content">
    <div class="row">
      <form name="workForm" method="post" action="">
      <input type="hidden" name="iPage" value="<%= rPage %>">
      <div class="box box-info">
        <div class="box-body">
          
          <div class="row pull-right ">
            <div class="box-body">
              <input type="hidden" id="iPage" name="iPage" value="<%= rPage %>">
              <input type="hidden" id="ac_id" name="ac_id" value="">
              <div class="col-md-4">
                
              </div>
              
              <!-- 검색어 입력란과 검색 버튼 -->
              <div class="col-md-4">
                <div class="form-inline">
                  <div class="input-group">
                    <input type='text' class="form-control" id="iWord" name="iWord" value="<%= rWord %>"
                    placeholder="검색어" size="100" />
                    <span class="input-group-btn">
                      <a href="#" onclick="submitSearch()" class="btn btn-info btn-md">검색</a>
                    </span>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4 text-right">
                <button type="button" onclick="create()" class="btn btn-default" id="addBtn"><i
                class="fa fa-plus"></i> 추가</button>
                <button type="button" onclick="procDeleteMulti()" class="btn btn-default" id="deleteBtn"><i
                class="fa fa-trash"></i> 삭제</button>
                
              </div>
              
            </div>
          </div>
          
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" name="iCbAll" id="iCbAll" class="cb-middle" />
                  </th>
                  <th>코드 ID</th>
                  <th>명칭</th>
                  <th>요구사항</th>
                  <th>Target</th>
                  <th>언어</th>
                  <th>프레임웍</th>
                  <th>모듈타입</th>
                  <th>데이터그룹ID</th>
                  <th>데이터스키마</th>
                  <th>생성된코드</th>
                  <th>파일명</th>
                  <th>프로젝트코드</th>
                  <th>학교ID</th>
                  <th>등록자</th>
                  <th>등록일시</th>
                  
                </tr>
              </thead>
              <% if(list.length) { %>
                <tbody>
                  <% for(var i in list) { %>
                    <tr>
                      <td>
                        <input type="checkbox" value="<%= list[i].ac_id %>" name="iCbOne" id="iCbOne"
                        class="cb-middle" />
                      </td>
                      
                      <td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].ac_id %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].ac_name %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].request %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].ac_target %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].ac_lang %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].ac_framework %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].ac_module_type %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].data_grp_id %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].table_schema %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].content %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].file_name %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].pjt_code %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].org_id %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].reg_mb_id %>
                      </td><td onclick="view('<%= list[i].ac_id %>')" style="cursor: pointer;">
                        <%= list[i].reg_dt %>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
                <% } else { %>
                <tbody>
                  <tr>
                    <td class="text-center" colspan="6">해당자료가 없습니다</td>
                  </tr>
                </tbody>
                <% } %>
            </table>
          </div>
          
          <div class="box-footer clearfix"><%- paging %></div>
        </div>
      </div>
      </form>
    </div>
  </section>
</div>

<%-include ./user.tail.ejs %>
