<%-include ./user.head.ejs %>

  <script type="text/javascript">
    function update() {

      if($("#new_password").val().length<6){
        alert("비밀번호는 6자리 이상으로 입력하세요.")
        return;
      }
      if($("#new_password").val() != $("#check_password").val() ){
        alert("신규 비밀번호와 재입력 비밀번호가 다릅니다.")
        return;
      }
      event.preventDefault();
      const formData = new URLSearchParams(new FormData(document.workForm));
      fetch("/changepassword", {
        method: "POST",
        mode: "same-origin",
        credentials: "same-origin",
        body: formData,
      })
        .then((res) => res.json())
        .then((response) => {
          if (response.status == 200) {
            toastr.success(response.message);
          } else {
            toastr.warning(response.message);
          }
        })
        .catch((error) => {
          toastr.error("에러가 발생 하였습니다.");
        });
    }

    $(document).ready(function () {
    });
  
  </script>

  <% if(message.length){ %>
    <script>
      toastr.success("<%=msg%>");
    </script>
    <% } %>
      <% if(err.length){ %>
        <script>
          toastr.error("<%=err%>");
        </script>
        <% } %>

          <div class="content-wrapper">
            <section class="content-header">
              <h1>
                비밀번호 변경
                <small>설정</small>
              </h1>
              <ol class="breadcrumb">
                <li>
                  <a href="#"><i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li class="active">사용자</li>
              </ol>
            </section>

            <section class="content">
              <div class="row">
                <div class="box box-info" style="padding: 20px">
                  <div class="box-body">
                    <form id="UserForm" name="workForm" method="post">
                      <input type="hidden" class="form-control" id="mb_no" name="mb_no"
                          value="<%= user.mb_no %>" />
                        <input type="hidden" class="form-control" id="mb_id" name="mb_id"
                          value="<%= user.mb_id %>" />
                      <div class="form-group">
                        <label>기존 비밀번호</label>
                        <input type="password"  class="form-control" id="old_password" name="old_password"   />
                      </div>
                      <div class="form-group">
                        <label>신규 비밀번호</label>
                        <input type="password"  class="form-control" id="new_password" name="new_password"  />
                      </div>
                      <div class="form-group">
                        <label>비밀번호 재입력</label>
                        <input type="password"  class="form-control" id="check_password" name="check_password"  />
                      </div>


                      <div class="form-group">
                        <div class="form-inline text-center">
                          <button type="button" class="pull-right btn btn-default" style="margin-right: 10px"
                            onclick="update()">
                            <i class="fa fa-save"></i> 저장
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <%-include ./user.tail.ejs %>