<%- include ./user.head.ejs %>

<% var iCdTp="" ; %>

<script type="text/javascript">
  $(function () {
    $("#iCbAll").click(function () {
      $("input[id=iCbOne]").prop("checked", this.checked);
    });
  });

  function search() {
    console.log("search..");
    var form = document.workForm;
    form.iPage.value = 1;
    form.method = "GET";
    form.action = "getDetects";
    form.submit();
  }

  function view(detect_id) {
    var form = document.workForm;
    form.detect_id.value = detect_id;
    form.action = "viewDetect";
    form.method = "POST";
    form.submit();
  }

  function create() {
    var form = document.workForm;
    form.action = "getDetect";
    form.method = "GET";
    form.submit();
  }

  function deleteAll() {
    console.log("deleteAll..");
    fetch("deleteDetectAll", {
      method: "DELETE",
      mode: "same-origin",
      credentials: "same-origin",
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data.message);
        location.reload();
        toastr.success("전체 삭제하였습니다.");
      })
      .catch((error) => {
        console.error(error);
        toastr.error("삭제 중 오류가 발생했습니다.");
      });
  }

  function procDeleteMulti() {
    if (confirm("정말 삭제하시겠습니까?")) {
      var form = document.workForm;
      var cbOneArr = document.getElementsByName("iCbOne");
      var chkCnt = 0;
      var promises = [];

      for (var i = 0; i < cbOneArr.length; i++) {
        if (cbOneArr[i].checked) {
          chkCnt++;
          console.log(cbOneArr[i].value);
          promises.push(
            fetch("deleteDetect/" + cbOneArr[i].value, {
              method: "DELETE",
              mode: "same-origin",
              credentials: "same-origin",
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data.message);
                return data;
              })
          );
        }
      }

      if (chkCnt > 0) {
        Promise.all(promises)
          .then(() => {
            location.reload();
            toastr.success("선택된 항목을 삭제하였습니다.");
          })
          .catch((error) => {
            console.error(error);
            toastr.error("삭제 중 오류가 발생했습니다.");
          });
      } else {
        toastr.warning("삭제할 항목을 선택해주세요.");
      }
    }
  }

  // Date formatting function
  function formatDate(date) {
    if (!date) return '';
    const d = new Date(date);
    const year = d.getFullYear();
    const month = String(d.getMonth() + 1).padStart(2, '0');
    const day = String(d.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
</script>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Detection List
      <small>Manage detection records</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home > </a>
      </li>
      <li class="active">Detection List</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <form name="workForm" method="post" action="">
        <input type="hidden" name="iPage" value="<%= rPage %>">
        <input type="hidden" id="detect_id" name="detect_id" value="">
        <div class="box box-info">
          <div class="box-body">
            <div class="row pull-right">
              <div class="box-body">
                <div class="col-md-4">
                </div>

                <!-- 검색어 입력란과 검색 버튼 -->
                <div class="col-md-4">
                  <div class="form-inline">
                    <div class="input-group">
                      <input type='text' class="form-control" id="iWord" name="iWord" value="<%= rWord %>"
                        placeholder="Search by keyword or title" size="100" />
                      <span class="input-group-btn">
                        <button type="button" onclick="search()" class="btn btn-info btn-md">검색</button>
                      </span>
                      <span class="input-group-btn">
                        <button type="button" onclick="deleteAll()" class="btn btn-info btn-md">전체삭제</button>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 text-right">
                  <button type="button" onclick="create()" class="btn btn-default" id="addBtn">
                    <i class="fa fa-plus"></i> 추가
                  </button>
                  <button type="button" onclick="procDeleteMulti()" class="btn btn-default" id="deleteBtn">
                    <i class="fa fa-trash"></i> 삭제
                  </button>
                </div>
              </div>
            </div>

            <div class="box-body">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" name="iCbAll" id="iCbAll" class="cb-middle" />
                    </th>
                    <th>Detect ID</th>
                    <th>Request ID</th>
                    <th>Member ID</th>
                    <th>Board Name</th>
                    <th>Keyword</th>
                    <th>Post Title</th>
                    <th>Detect Status</th>
                    <th>Detect Datetime</th>
                  </tr>
                </thead>
                <% if(list.length) { %>
                  <tbody>
                    <% for(var i in list) { %>
                      <tr>
                        <td>
                          <input type="checkbox" value="<%= list[i].detect_id %>" name="iCbOne" id="iCbOne"
                            class="cb-middle" />
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].detect_id %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].req_id %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].req_mb_id %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].board_name %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].keyword %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].post_title %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].detect_status %>
                        </td>
                        <td onclick="view('<%= list[i].detect_id %>')" style="cursor: pointer;">
                          <%= list[i].detect_date_formatted %>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                  <% } else { %>
                    <tbody>
                      <tr>
                        <td class="text-center" colspan="12">해당자료가 없습니다</td>
                      </tr>
                    </tbody>
                    <% } %>
              </table>
            </div>

            <div class="box-footer clearfix"><%- paging %></div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<%- include ./user.tail.ejs %>