<%- include('./user.head.ejs') %>
<%- include('./inc/htmlTemplate.ejs') %>

<script type="text/javascript">
  
  const ocr_parsing_config= {"container":{"tag":"tr"},"title":{"tag":"td","search_all":true},"date":{"tag":"td","index":3},"link":"date_based","parsing_type":"ocr"};

  window.onload = function(){
    sampleData();
  }
 
  function clearRequest() {
    $("#req_mb_id").val("");
    $("#receiver_email").val("");
    $("#req_status").val("open");
    $("#board_name").val("");
    $("#board_type").val("");
    $("#post_url").val("");
    $("#keyword").val("");
    $("#parsing_config").val("");
    $("#parsing_type").val("");
    $("#check_interval").val("");
    $("#start_date").val("");
    $("#end_date").val("");
    $("#email_send_yn").val("");
    $("#pay_type").val("");
    $("#pay_amount").val("");
  }

  function sampleData() {
    $("#req_mb_id").val("modeller@naver.com");
    $("#receiver_email").val("modeller@naver.com");
    $("#req_status").val("open");
    $("#board_name").val("마이홈");
    $("#board_type").val("myhome");
    $("#post_url").val("https://www.myhome.go.kr/hws/portal/sch/selectRsdtRcritNtcView.do");
    $("#keyword").val("입주자");
    $("#parsing_config").val(ocr_parsing_config);
    $("#parsing_type").val("ocr");
    $("#check_interval").val("1d");
    $("#start_date").val("2025-01-01");
    $("#end_date").val("2026-12-31");
    $("#email_send_yn").val("Y");
    $("#pay_type").val("free");
    $("#pay_amount").val("");
  }

  function update() {
    $('input[type!="hidden"][required], textarea[required]').each(function () {
      if (!$(this).val()) {
        $(this).focus();
        alert(`${$(this).attr("name")}은(는) 필수 입력 항목입니다.`);
        return false;
      }
    });

    event.preventDefault();
    const formData = new URLSearchParams(new FormData(document.workForm));
    fetch("addRequest", {
      method: "POST",
      mode: "same-origin",
      credentials: "same-origin",
      body: formData,
    })
    .then((res) => res.json())
    .then((response) => {
      if (response.status == 200) {
        toastr.success("등록하였습니다");
       // location.href = "getRequests";
      } else {
        toastr.warning(response.message);
      }
    })
    .catch((error) => {
      toastr.error("에러가 발생 하였습니다.");
    });
  }

  function list() {
    var form = document.workForm;
    form.method = "GET";
    form.action = "getRequests";
    form.submit();
  }
</script>

<style>
  .box-body {
    padding: 20px;
  }
</style>

<% if(message.length){ %>
  <script>toastr.success("<%=message%>")</script>
<% } %>
<% if(err.length){ %>
  <script>toastr.error("<%=err%>")</script>
<% } %>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      요청 등록
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home > </a>
      </li>
      <li class="active">요청 관리</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="box box-info">
        <div class="box-body">
          <form method="post" id="workForm" name="workForm">
            <input type="hidden" name="reg_datetime" value="<%= info.reg_datetime %>" />
            <div class="form-group">
              <label>회원 ID <span style="color:red;">*</span></label>
              <input type="text" required class="form-control" id="req_mb_id" name="req_mb_id" value="<%= info.req_mb_id %>" readonly />
            </div>
            <div class="form-group">
              <label>수신 이메일 <span style="color:red;">*</span></label>
              <input type="email" required class="form-control" id="receiver_email" name="receiver_email" value="<%= info.receiver_email || '' %>" />
            </div>
            <div class="form-group">
              <label>상태</label>
              <select class="form-control" id="req_status" name="req_status">
                <option value="open" <%= info.req_status === 'open' ? 'selected' : '' %>>Open</option>
                <option value="closed" <%= info.req_status === 'closed' ? 'selected' : '' %>>Closed</option>
              </select>
            </div>
            <div class="form-group">
              <label>게시판명 <span style="color:red;">*</span></label>
              <input type="text" required class="form-control" id="board_name" name="board_name" value="<%= info.board_name || '' %>" />
            </div>
            <div class="form-group">
              <label>게시판 타입 <span style="color:red;">*</span></label>
              <input type="text" required class="form-control" id="board_type" name="board_type" value="<%= info.board_type || '' %>" />
            </div>
            <div class="form-group">
              <label>URL <span style="color:red;">*</span></label>
              <input type="url" required class="form-control" id="post_url" name="post_url" value="<%= info.post_url || '' %>" />
            </div>
            <div class="form-group">
              <label>키워드 <span style="color:red;">*</span></label>
              <input type="text" required class="form-control" id="keyword" name="keyword" value="<%= info.keyword || '' %>" />
            </div>
            <div class="form-group">
              <label>체크주기</label>
              <select class="form-control" id="check_interval" name="check_interval">
                <option value="1d" <%= info.check_interval === '1d' ? 'selected' : '' %>>매일</option>
                <option value="1h" <%= info.check_interval === '1h' ? 'selected' : '' %>>매시간</option>
                <option value="1m" <%= info.check_interval === '1m' ? 'selected' : '' %>>매분</option>
              </select>
            </div>
            <div class="form-group">
              <label>파서 설정</label>
              <textarea class="form-control" id="parsing_config" name="parsing_config" rows="4"><%= info.parsing_config || '' %></textarea>
            </div>
            <div class="form-group">
              <label>파싱 타입</label>
              <select class="form-control" id="parsing_type" name="parsing_type">
                <option value="text" <%= info.parsing_type === 'text' ? 'selected' : '' %>>text</option>
                <option value="ocr" <%= info.parsing_type === 'ocr' ? 'selected' : '' %>>ocr</option>
              </select>
            </div>
            <div class="form-group">
              <label>시작일자 (YYYY-MM-DD) <span style="color:red;">*</span></label>
              <input type="date" required class="form-control" id="start_date" name="start_date" value="<%= info.start_date || '' %>" placeholder="YYYY-MM-DD" />
            </div>
            <div class="form-group">
              <label>종료일자 (YYYY-MM-DD) <span style="color:red;">*</span></label>
              <input type="date" required class="form-control" id="end_date" name="end_date" value="<%= info.end_date || '' %>" placeholder="YYYY-MM-DD" />
            </div>
            <div class="form-group">
              <label>이메일발송여부<span style="color:red;">*</span></label>
              <select class="form-control" id="email_send_yn" name="email_send_yn">
                <option value="Y" <%= info.email_send_yn === 'Y' ? 'selected' : '' %>>yes</option>
                <option value="N" <%= info.email_send_yn === 'N' ? 'selected' : '' %>>no</option>
              </select>
            </div>

            <div class="form-group">
              <label>Pay 타입</label>
              <input type="text"  class="form-control" id="pay_type" name="pay_type" value="<%= info.pay_type || '' %>" />
            </div>
            <div class="form-group">
              <label>금액</label>
              <input type="number"  class="form-control" id="pay_amount" name="pay_amount" value="<%= info.pay_amount || 0 %>" />
            </div>

            <div class="form-group">
              <div class="form-inline text-center">
                <button type="button" onclick="update()" class="pull-right btn btn-default" style="margin-right: 5px;">
                  <i class="fa fa-save"></i> 저장
                </button>
                <button type="button" onclick="clearRequest()" class="pull-right btn btn-default" style="margin-right: 5px;">
                  <i class="fa fa-eraser"></i> Clear
                </button>
                <button type="button" onclick="list()" class="pull-right btn btn-default" style="margin-right: 5px;">
                  <i class="fa fa-list"></i> 목록
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('./user.tail.ejs') %>